{% include base_path %}

<!-- begin SEO -->
{% assign seo_url = site.url | default: "" | append: site.baseurl %}

{% if page.title %}
  {% assign seo_title = page.title | append: " " | append: site.title_separator | append: " " | append: site.title %}
{% endif %}

{% if seo_title %}
  {% assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once %}
{% endif %}

{% assign canonical_url = page.url | replace: "index.html", "" | prepend: seo_url %}

<title>{{ seo_title | default: site.title }}{% if paginator %}{% unless paginator.page == 1 %} {{ site.title_separator }} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}{% endif %}</title>

{% assign seo_description = page.description | default: page.excerpt | default: site.description %}
{% if seo_description %}
  {% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | escape_once %}
{% endif %}

{% assign seo_author = page.author | default: page.author[0] | default: site.author[0] %}
{% if seo_author %}
  {% if seo_author.twitter %}
    {% assign seo_author_twitter = seo_author.twitter %}
  {% else %}
    {% if site.data.authors and site.data.authors[seo_author] %}
      {% assign seo_author_twitter = site.data.authors[seo_author].twitter  %}
    {% else %}
      {% assign seo_author_twitter = seo_author  %}
    {% endif %}
  {% endif %}
  {% assign seo_author_twitter = seo_author_twitter | replace: "@", "" %}
{% endif %}

<meta property="og:locale" content="{{ site.locale | default: "en" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">

{% if seo_url %}
  <link rel="canonical" href="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
  <meta property="og:url" content="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
{% endif %}

{% if page.excerpt %}
  <meta property="og:description" content="{{ seo_description }}">
{% endif %}

{% if site.twitter.username %}
  <meta name="twitter:site" content="@{{ site.twitter.username | replace: "@", "" }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
  <meta name="twitter:description" content="{{ seo_description }}">
  <meta name="twitter:url" content="{{ canonical_url }}">
  <meta name="twitter:card" content="summary">
  {% if page.header.image %}
    <meta name="twitter:image" content="{{ page.header.image | prepend: site.url }}">
  {% endif %}
{% endif %}

{% if site.facebook.publisher %}
  <meta property="article:publisher" content="{{ site.facebook.publisher }}">
{% endif %}

{% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}

{% if page.last_modified_at %}
  <meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">
{% endif %}

{% if page.author %}
  <meta property="article:author" content="{{ page.author }}">
{% endif %}

{% if page.categories %}
  {% for category in page.categories %}
    <meta property="article:section" content="{{ category | replace: '-', ' ' | capitalize }}">
  {% endfor %}
{% endif %}

{% if page.tags %}
  {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag | replace: '-', ' ' | capitalize }}">
  {% endfor %}
{% endif %}

<meta name="description" content="{{ seo_description }}">

{% if site.name or site.title %}
  {% assign seo_name = site.name | default: site.title %}
  <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "{{ site.social.type | default: "Person" }}",
      "name" : {{ seo_name | jsonify }},
      "url" : {{ site.url | jsonify }},
      "sameAs" : {{ site.social.links | jsonify }}
    }
  </script>
{% endif %}

<!-- end SEO -->
